.slider {
    /* position: relative; */
    /* height: 100vh; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
  }
  
  .image {
    width: 100%;
    /* height: 600px;
    border-radius: 10px; */
    
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #E6E6E6;
    opacity: 0.1;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #E6E6E6;
    opacity: 0.1;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  .right-arrow:hover{
    color: white;
    opacity: 0.6;
  }
  .left-arrow:hover{
    color: white;
    opacity: 0.6;
  }
  .image-slide{
    width: 100%;
    height: 640px;
  }
  @media screen and (max-width:768px){

    .image-slide{
      width: 100%;
      height: auto;
     
    } 
  }
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
    width: inherit;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    /* transform: scale(1.08); */
  }
 
  @media screen and (max-width: 568px) {
    .left-arrow {
      position: absolute;
      top: 31%;
      left: 15px;
      font-size: 1.5rem;
      color: #E6E6E6;
      opacity: 0.1;
      z-index: 10;
      cursor: pointer;
      user-select: none;
    }
    .right-arrow {
      position: absolute;
      top: 31%;
      right: 15px;
      font-size: 1.5rem;
      color: #E6E6E6;
      opacity: 0.1;
      z-index: 10;
      cursor: pointer;
      user-select: none;
    }
    
  }

  @media screen and (max-width: 736px) {
    .left-arrow {
      position: absolute;
      top: 28%;
      left: 15px;
      font-size: 2rem;
      color: #000;
      z-index: 10;
      cursor: pointer;
      user-select: none;
    }
    .right-arrow {
      position: absolute;
      top: 28%;
      right: 15px;
      font-size: 2rem;
      color: #000;
      z-index: 10;
      cursor: pointer;
      user-select: none;
    }
  }

@media screen and (min-device-width: 1024px) and (max-device-width: 1366px)  {
    .left-arrow {
      position: absolute;
      top: 29%;
      left: 15px;
      font-size: 2.5rem;
      color: #000;
      z-index: 10;
      cursor: pointer;
      user-select: none;
    }
    .right-arrow {
      position: absolute;
      top: 29%;
      right: 15px;
      font-size: 2.5rem;
      color: #000;
      z-index: 10;
      cursor: pointer;
      user-select: none;
    }
  }

  