:root{
    --primary:#1888ff;
}

.btn{
    padding:8px 20px;
    border-radius: 5px;
    outline: none;
    border:none;
    font: 1rem;
    color: white;
    cursor: pointer;
    background-color: var(--primary);
}
.btn:hover{
    padding: 6px 18px;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border:2px solid var(--primary);
}
.btn-login{
    line-height: 76px;
}